.standard-select {
  -webkit-appearance: none;
  appearance: none;
  border: var(--border-width) var(--border-style) var(--border-color);
  padding-left: 7.5px;
  padding-right: 7.5px;
  box-shadow: var(--border-width) var(--border-width) var(--border-color);
  font-size: var(--main-font-size);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  background: var(--main-background);
  user-select: none;
  cursor: pointer;
}

/* Main score select */width
.main-score-select {
  margin: 10px 17px -7px 17px;
  width: 794px;
}

@media screen and (min-width: 1066px) {
  .main-score-select {
    width: 1066px;
  }
}

@media screen and (max-width: 833px) {
  .main-score-select {
    margin-bottom: -25px;
    width: 833px;
  }
}

@media screen and (max-width: 521px) {
  .main-score-select {
    margin-bottom: -25px;
    width: 352px;
  }
}

@media screen and (max-width: 428px) {
  .main-score-select {
    margin-bottom: -20px;
    width: 325px;
  }
}